RENDERED_PROVIDER_NAME={{ .RENDERED_PROVIDER_NAME }}
PROVIDER_SHORT_NAME={{ .PROVIDER_SHORT_NAME }}
PROVIDER_PATH={{ .PROVIDER_PATH }}

ENV_VARS_NAME_PREFIX={{ .ENV_VARS_NAME_PREFIX }}

DEFAULT_USER_NAME={{ .DEFAULT_USER_NAME }}
DEFAULT_TRIGGER_SOURCE={{ .DEFAULT_TRIGGER_SOURCE }}

{{ .ENV_VARS_NAME_PREFIX }}_URL={{ .API_URL }}
{{ .ENV_VARS_NAME_PREFIX }}_TOKEN="{{ .API_TOKEN }}"

{{ .ENV_VARS_NAME_PREFIX }}_DEBUG={{ .PROVIDER_DEBUG }}
{{ .ENV_VARS_NAME_PREFIX }}_RETRIES={{ .API_RETRIES }}

TF_LOG_FILE={{ .TF_LOG_FILE }}
TF_ACC={{ .TF_ACC }}