---
page_title: '{{ .ProviderShortName | trimspace }}_action Resource - {{ .ProviderName | trimspace }}'
subcategory: ''
description: |-
---

# {{ .ProviderShortName | trimspace }}_action (Resource)

Actions execute shell commands on associated Resources. Whenever an Alarm fires the associated Bot triggers the corresponding Action, closing the basic auto-remediation loop of
{{ .RenderedProviderName | trimspace }}.

## Required Properties

Each Action has many properties that determine its behavior. The required properties are:

- name - The name of the Action.
- command - The shell command executed when the Action triggers.

-> Check out Action Properties for details on all available properties and how to use them.

## Usage

The following Action definition creates a `cpu_threshold_action` that compares host CPU usage against a `cpu_threshold` parameter value.

{{tffile "examples/resources/action/cpu_threshold_action.tf"}}

This Action can be executed via an Alarm's clear_query
/ fire_query, or directly via an Op command.

For example, the following Alarm fires and clears based on the result of the previously-generated `cpu_threshold_action`:

{{tffile "examples/resources/alarm/cpu_threshold_alarm.tf"}}

You can also define Terraform Input Variables and use them within your Action definitions:

{{tffile "examples/op_packs/jvm_trace/variables.tf"}}

{{tffile "examples/op_packs/jvm_trace/actions.tf"}}

-> See the {{ .RenderedProviderName | trimspace }} Actions Documentation for more info.

{{ .SchemaMarkdown | trimspace }}
