---
page_title: "shoreline_alarm Resource - terraform-provider-shoreline"
subcategory: ""
description: |-
  Alarms are fully-customizable Metric or status checks that automatically trigger remediation Actions.
---

# shoreline_alarm (Resource)

Alarms frequently check one or more [Metric](https://docs.shoreline.io/metrics) thresholds or custom [Resource](https://docs.shoreline.io/platform/resources) queries. The Alarm is raised based on custom thresholds or shell commands you define, which informs any connected [Bot](https://docs.shoreline.io/bots) to trigger remedial [Actions](https://docs.shoreline.io/actions).

-> Shoreline includes dozens of built-in [Metrics](https://docs.shoreline.io/metrics) on which to base your Alarms. You can also combine multiple [Metrics](https://docs.shoreline.io/metrics) into [Metric Sets](https://docs.shoreline.io/configuration/metric-sets) for monitoring many [Metrics](https://docs.shoreline.io/metrics) at once. You can even create your own [Derived Metrics](https://docs.shoreline.io/configuration/derived-metrics) if none of the built-in options meet your needs.

## Required Properties

Each Alarm can define many [properties](https://docs.shoreline.io/alarms/properties) to determine its behavior. The required properties when [creating an Alarm](https://docs.shoreline.io#create-an-alarm) are:

- [name](https://docs.shoreline.io/alarms/properties#name) - The name of the Alarm.
- [fire_query](https://docs.shoreline.io/alarms/properties#fire_query) - The [Op](https://docs.shoreline.io/op) statement that triggers the Alarm.
- [clear_query](https://docs.shoreline.io/alarms/properties#clear_query) - The [Op](https://docs.shoreline.io/op) statement that clears the Alarm.
- [resource_query](https://docs.shoreline.io/alarms/properties#resource_query) - The [Op](https://docs.shoreline.io/op) query that selects which [Resources](https://docs.shoreline.io/platform/resources) the Alarm triggers from.

## Usage

The following example creates an [Alarm](https://docs.shoreline.io/alarms) named `my_cpu_alarm` that fires when at least 80% of a host [Resource's](https://docs.shoreline.io/platform/resources) CPU usage metric measurements are equal to or exceed `40%` over the previous minute.

```tf
resource "shoreline_alarm" "cpu_alarm" {
  name = "my_cpu_alarm"
  fire_query = "(cpu_usage > 40 | sum(60)) >= 48.0"
  clear_query = "(cpu_usage < 40 | sum(60)) >= 48.0"
  resource_query = "hosts"
}
```

-> [Metric](https://docs.shoreline.io/metrics) data points are collected once per second for all [Shoreline Resources](https://docs.shoreline.io/platform/resources) (i.e. hosts, pods, and containers). Thus, a [Metric](https://docs.shoreline.io/metrics) query of `(cpu_usage > 40 | sum(60)) >= 48.0` determines if at least 48 of the last 60 `cpu_usage` data points exceeded `40%`.  You can learn more from the [Metrics documentation](https://docs.shoreline.io/metrics).

### Advanced Usage

You can also combine other Terraform resource blocks and variables to create complex [Alarms](https://docs.shoreline.io/alarms).  In this example we're defining an [Action](https://docs.shoreline.io/actions) called `jvm_trace_check_heap` that determines if JVM heap usage exceeds a variable-defined threshold:

{{tffile "examples/op_packs/jvm_trace/actions.tf"}}

The `jvm_trace_heap_alarm` [Alarm](https://docs.shoreline.io/alarms) executes the `jvm_trace_check_heap` [Action](https://docs.shoreline.io/actions) as part of its [fire_query](https://docs.shoreline.io/alarms/properties#fire_query) and [clear_query](https://docs.shoreline.io/alarms/properties#clear_query), to determine when the [Alarm](https://docs.shoreline.io/alarms) is raised or resolved, respectively:

{{tffile "examples/op_packs/jvm_trace/alarms.tf"}}

-> See the Shoreline [Alarms Documentation](https://docs.shoreline.io/alarms) for more info.

{{ .SchemaMarkdown | trimspace }}